.App {
  text-align: center;
}

.App-header {
  background-color: #282c34; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.btn-primary {
  background-color: #feb031; 
  border-color: #feb031; 
}

.btn-primary:hover {
  background-color: #317ffe; 
  border-color: #317ffe;
}

.btn-secondary {
  background-color: #56e49b; 
  border-color: #56e49b;
}

.btn-secondary:hover {
  background-color: #e2e2e2; 
  border-color: #e2e2e2; 
}


.table {
  background-color: #ffffff;
  border: 1px solid #707070;
}

.table th, .table td {
  border: 1px solid #707070;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2; 
}

.banner {
  width: 100%;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}
